<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-progress-circular
       :size="70"
       :width="7"
       color="primary"
       class="mx-auto"
       v-show="isLoading"
       indeterminate
      />
      <v-card v-if="!isLoading">
        <v-card-title class="text-h5 grey lighten-2">
            Post: {{post.id}}
        </v-card-title>

        <v-card-text>
            {{post.title}}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="closeDialog"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>


<script>
  export default {
    name: 'Modal',
    props: {
        idItemSelect: Number
    },
    data: () => ({
        dialog: false,
        isLoading: false,
        post: {},
    }),
    methods: {
        getPost(id) {
            return fetch(`https://jsonplaceholder.typicode.com/todos/${id}`)
                .then(response => response.json())
                .then(post => this.post= post);
        },
        openDialog() {
            this.dialog = true;
        },
        closeDialog() {
            this.post = {};
            this.dialog = false;
        },
    },
    watch: {
        idItemSelect(newValue) {
            this.isLoading = true;
            this.getPost(newValue).then(() => this.isLoading = false);
        }
    }
  }
</script>
