<template>
  <v-app>
    <v-main>
      <template >

        <template>
          <v-data-table
            :headers="headers"
            :items="posts"
            item-key="id"
            class="elevation-1"
          >
          
              <template v-slot:[`item.actions`]="{ item }">
                  <v-tooltip bottom color="blue">
                    <template v-slot:activator="{ on: tooltip, attrs }">
                      <v-icon small class="mr-2" @click="open(item)" v-bind="attrs" v-on="{ ...tooltip }"> mdi-pencil </v-icon>
                    </template>
                    <span> Editar </span>
                  </v-tooltip>
              </template>

          </v-data-table>    
        </template>

        <Modal
          ref="dialog"
          :idItemSelect="idItemSelect"
        />

      </template>
    </v-main>
  </v-app>
</template>

<script>
import Modal from './components/Modal.vue';

export default {
  name: 'App',
  components: {
    Modal
  },
  data: () => ({
    posts: [],
    idItemSelect: -1
  }),

  mounted() {
    this.fetchData();
  },
  computed: {
    headers () {
      return [
        {
          text: 'userId',
          align: 'start',
          sortable: false,
          value: 'userId',
        },
        {
          text: 'id',
          value: 'id',
        },
        {
          text: 'title',
          value: 'title',
        },
        {
          text: "Acciones",
          value: "actions",
          sortable: false
        }
      ]
    },
  },
  methods: {
    open(item) {
      this.idItemSelect = item.id;
      this.$refs.dialog.openDialog();
    },
    fetchData() {
      fetch('https://jsonplaceholder.typicode.com/todos')
        .then(response => response.json())
        .then(posts => this.posts= posts);
    }
  }
};
</script>
